.main__title{
    /*text-align: center;*/
    /*font-family: 'Merriweather', serif;*/
    font-size: 6rem;
    color: #ffffff;
}

@media screen and (max-width: 880px) {
    .main__title {
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 650px) {
    .main__title {
        font-size: 3rem;
    }
}