.subtitle__1{
    /*text-align: center;*/
    /*font-family: 'Merriweather', serif;*/
    font-size: 5rem;
    color: #64ff64;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 880px) {
    .subtitle__1 {
        font-size: 3.8rem;
    }
}

@media screen and (max-width: 650px) {
    .subtitle__1 {
        font-size: 2.5rem;
    }
}